.advertising-swiper {
 width: 80%;
 height: 50vh;
 box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 border-radius: 20px;
}

.advertising-slide {
 display: flex;
 justify-content: center;
 align-items: center;
}

.advertising-slide img {
 display: block;
 width: 150px !important;
 height: 150px !important;
 border-radius: 50%;
 object-fit: cover;
}