.about-container i {
 color: #212529;
}

.offer-span {
 color: #212529 !important;
}

[data-bs-theme="dark"] .offer-text,
[data-bs-theme="dark"] .offer-span {
 color: white !important;
}

[data-bs-theme="dark"] .offer-p {
 color: rgb(108, 104, 104) !important;
}